<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="merchant.okcredit.gamification.ipl">

    <application>
        <activity
            android:name=".view.IplActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".game.ui.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".rewards.ClaimRewardActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".game.ui.youtube.YoutubeActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
