<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.okcredit.voice_first">

    <application>

        <activity android:name="in.okcredit.voice_first.ui.voice_collection.BoosterVoiceCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="in.okcredit.voice_first.ui.bulk_add.BulkAddTransactionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="in.okcredit.voice_first.ui.bulk_add.edit_draft.EditDraftTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="in.okcredit.voice_first.ui.bulk_add.search_merchant.SearchMerchantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.OKCTheme"
            android:windowSoftInputMode="adjustResize"/>

    </application>
</manifest>